[submodule "vim/.vim/pack/plugins/start/vim-terraform"]
	path = vim/.vim/pack/plugins/start/vim-terraform
	url = https://github.com/hashivim/vim-terraform.git
[submodule "vim/.vim/pack/plugins/start/fireplace"]
	path = vim/.vim/pack/plugins/start/fireplace
	url = https://tpope.io/vim/fireplace.git
[submodule "vim/.vim/pack/plugins/start/surround"]
	path = vim/.vim/pack/plugins/start/surround
	url = https://tpope.io/vim/surround.git
[submodule "vim/.vim/pack/plugins/start/vim-nix"]
	path = vim/.vim/pack/plugins/start/vim-nix
	url = https://github.com/LnL7/vim-nix.git
[submodule "vim/.vim/pack/plugins/start/vim-packer"]
	path = vim/.vim/pack/plugins/start/vim-packer
	url = https://github.com/hashivim/vim-packer.git
[submodule "vim/.vim/pack/plugins/start/vim-fzf"]
	path = vim/.vim/pack/plugins/start/vim-fzf
	url = https://github.com/junegunn/fzf.vim.git
[submodule "vim/.vim/pack/plugins/start/vim-opencl"]
	path = vim/.vim/pack/plugins/start/vim-opencl
	url = https://github.com/petRUShka/vim-opencl.git
